<div class="container">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Add Employee
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="form-group">
              <label for="exampleInputEmail1">Employee ID</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter Employee ID"
                formControlName="empID"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">First Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter First Name"
                formControlName="firstName"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter Last Name"
                formControlName="lastName"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter Email"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Phone</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter Phone"
                formControlName="phone"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Salary</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter Salary"
                formControlName="salary"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="cancel"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            *ngIf="!showUpdate"
            type="button"
            class="btn btn-primary"
            (click)="postEmployeeDetails()"
          >
            Add
          </button>
          <button
            *ngIf="showUpdate"
            type="button"
            class="btn btn-success"
            (click)="updateEmployee()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Emp ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Salary</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeData">
        <th scope="row">{{ employee.empID }}</th>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.salary | currency }}</td>
        <td>
          <button
            class="btn btn-success"
            type="button"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="updateEmployeeDetails(employee)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="deleteEmployeeDetails(employee.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
